<div class="container">
  <nav id="table-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to "CV Lists", curriculumvitaes_path%></li>
        <li><%= link_to "Shorted CVs", shortlists_path%></li>
        <li><%= link_to "Interview Schedule", "curriculumvitae.schedules_path(@curriculumvitae)"%></li>
      </ul>
      
  </nav>