
<div id="cv-header">
	<h3>CV Lists</h3>
		<%= form_for :search, url:("/search") do |f| %>
		<%= f.text_field :from, class: "form-control", placeholder: "yyyy-mm-dd" %> <%= submit_tag ("Search")%>
	<%end%>
</div>