<div id="cv-header">
	<h3>CV Lists</h3>
	<%= form_tag(curriculumvitaes_path, method: 'get', class: 'navbar-form navbar-right') do %>
	  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'YYYY-mm-dd/ Email'  %>
	  <%= submit_tag "Search", class: 'btn btn-default btn-lg btn-submit' %>
	<% end %>		
</div>