<div id="container">
	<fieldset class="scheduler-border">
	    <legend class="scheduler-border">Summary</legend>
	    <div class="control-group">
	        <label class="control-label input-label" for="summary"></label>
	    </div>
	</fieldset>
</div>