<div class="well">
	<div id="summaryForm">
		<%= form_for :summary, url: { action: "create" } do |f| %>
			<h2>Interview Summary</h2>
				<div id="text_field">
					<div class="form-group">
						<label for ="Add interview summary">Interview Summary</label>
						<%= f.text_area :content, size: '5x5', class: "form-control", placeholder: "Add interview summaru here."%>
					</div>
				</div>
				<div>
					<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	          Save
	        <% end %>
				</div>
		<%end%>
	</div>	
</div>
