<div class="container">
  <nav id="table-tabs">
      <ul class="nav nav-tabs">
        <li><%= link_to "CV Lists", root_url%></li>
        <li><%= link_to "Shorted CVs", shortlists_path%></li>
        <li class="active"><%= link_to "Interview Schedule", "all_schedules_path"%></li>
      </ul>
      
  </nav>