<p>
	A new Interview Schedule is generated for <%= @curriculumvitae.from%>:

</p>

<blockquote>
	<%= @schedule.interview_date%>
</blockquote>
	
<p>
	To reply to this schedule, please visit the curriculumpage at:
	
	<%= link_to "Curriculumvitae", @curriculumvitae%>

</p>
