/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'bootstrap-datetimepicker';

 #login{
	margin-top: 100px;
	width: 50%;
	float: center;
	margin-left: 300px;
	
}

.navbar-brand
{
	padding-left: 70px;
	padding-top: 10px;
}

.navbar {
	background-color: #f59750;
}

#right-nav{
	padding-right: 60px;
}

.nav nav-tabs{
	padding-left: 100px;
}

.nav nav-tabs, li {
	color: #333333;
}

.navbar-form navbar-right{
	padding-top:20px;

}
h3 {
	padding-left: 0px;
}

.table-responsive {
	padding-top: 50px;
	padding-left:0px;
}

h3 {
	float: left;
}
 
 form-group {
 padding-right:50px;
 }

 table{
 width: 100%;
 }

 #cv-header h2 {
 display: inline-block;
 }



 .container {
 padding-left: 5px;
 padding-top: 0px;
 }

 .navbar-form navbar-right{
 padding-top: 20px;
 }

 .navbar-form {
 padding-top: 0px;
 }

 .modal-body {
 	padding-left:50px;
 	padding-top: 5px;
 }

 .modal-footer, btn btn-primary{
 	padding-right: 220px;
 }

.modal-dialog{
	height:600px;
	widht: 100%;
}

.modal-footer{
	height: 50px;
	width: 500px;
}

.modal-content {
	width: 100%;
}

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.control-group{
	height: 150px;
 }

.summaryForm{
	padding-top: 10s0px;
}